<!DOCTYPE html>
<html lang="fr">
<head><meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Installation et premier pas avec Hugo - Mon Wiki</title>
<meta name="description" content="Wiki Sur Windows et Linux">
<meta name="generator" content="Hugo 0.55.6" />
<link href="https://example.comindex.xml" rel="alternate" type="application/rss+xml">
<link rel="canonical" href="https://example.com/premier_pas/">
<link rel="stylesheet" href="https://example.com/css/theme.min.css">
<script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<link rel="stylesheet" href="https://example.com/css/chroma.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<script src="https://example.com/js/functions.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.easing@1.4.1/jquery.easing.min.js"></script>
<script src="https://example.com/js/jquery.backtothetop/jquery.backtothetop.min.js"></script></head>
<body>
<div class="container"><header>
<h1>Mon Wiki</h1>

<p class="description">Wiki Sur Windows et Linux</p>

</header>

<div class="content-container">
<main><h1>Installation et premier pas avec Hugo</h1>

<p>Article 1 : <a href="http://mister.maniacgeek.net/web/hugo-test-cms/">mister.maniacgeek.net</a></p>

<p>Article 2 : <a href="https://medium.com/slickteam/passer-aux-g%C3%A9n%C3%A9rateurs-de-sites-statiques-7814a8511cbe">medium.com</a></p>

<p>Guide d&rsquo;introduction : <a href="https://gohugo.io/getting-started/quick-start/">gohugo.io/getting-started/quick-start</a></p>

<h3 id="installation-de-hugo-sur-la-machine">Installation de Hugo sur la machine</h3>

<pre><code>Télécharger les binaires
    https://github.com/gohugoio/hugo/releases
        hugo_0.55.6_Linux-64bit.tar.gz
Décompresser dans ~/bin/hugo/
PATH
    vi ~/.bashrc
        PATH=$PATH:$HOME/bin/hugo
    which hugo
        /home/jean/bin/hugo/hugo
Version
    ./hugo version
        Hugo Static Site Generator v0.55.6-A5D4C82D linux/amd64 BuildDate: 2019-05-18T07:56:30Z
</code></pre>

<h3 id="les-principales-commandes-de-hugo">Les principales commandes de Hugo</h3>

<pre><code>hugo new site votresite.com
    Permet de créer un nouveau site
hugo new /articles/votre-article.md
    Permet de créer un article appelé article.md dans le répertoire articles
hugo server --theme=votretheme
    Serveur intégré avec lancement d'un thème
    Accéder à votre site en local à l’adresse : http://localhost:1313/
hugo --theme=votretheme
</code></pre>

<h3 id="installer-un-thème">Installer un thème</h3>

<p>Liste des thèmes : <a href="https://themes.gohugo.io/">https://themes.gohugo.io</a></p>

<pre><code>cd projet
git init
git submodule add https://github.com/budparr/gohugo-theme-ananke.git themes/ananke
echo 'theme = &quot;ananke&quot;' &gt;&gt; config.toml
</code></pre>

<p>Le thème ananke est maintenant installé.</p>

<p>On peut lancer le serveur</p>

<pre><code>hugo server
</code></pre>

<h3 id="problèmes">Problèmes</h3>

<p>Erreur avec certains thèmes</p>

<p>Exemple avec saito-boilerplate</p>

<pre><code>mkdir content
mv saito-boilerplate content
config.toml : theme = &quot;content/saito-boilerplate&quot;
</code></pre>

<h3 id="personnalisez-votre-propre-page-d-accueil">Personnalisez votre propre page d&rsquo;accueil</h3>

<p>Le site fonctionne, on n&rsquo;arrive bien sur la page d&rsquo;accueil par défaut, n&rsquo;oubliez pas de la personnaliser.</p>

<p>Vous avez généralement 2 choix :</p>

<ol>
<li>Créez un document _index.md dans le dossier de content et remplissez-le de contenu Markdown</li>
<li>Créez un fichier index.html dans le dossier static et remplissez le fichier avec du contenu HTML</li>
<li>Configurez votre serveur pour rediriger automatiquement la page d&rsquo;accueil vers l&rsquo;une de vos pages de documentation.</li>
</ol>

<h3 id="créer-un-lien">Créer un lien</h3>

<pre><code>[Installation et premier pas avec Hugo]({{  &lt;ref &quot;install_et_premier_pas_hugo.md&quot; &gt;}})
</code></pre>

<p>Sans espace entre : &nbsp;&nbsp; { &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;ref</p>

<h3 id="ajouter-un-lien-à-la-sidebar">Ajouter un lien à la sidebar</h3>

<p>Dans : themes / hugo-theme-techdoc / layouts / partials / menu.html</p>

<pre><code>&lt;nav&gt;
  &lt;ul&gt;
    &lt;li&gt;&lt;a href=&quot;http://localhost:1313/premier_pas&quot;&gt;Hugo&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;
</code></pre>

<p>Ici j&rsquo;ai ajouté le lien vers la page premier pas !</p>

<h3 id="layouts">Layouts</h3>

<p><a href="https://lord.re/posts/82-hugo-tutorial/">lord.re/posts/82-hugo-tutorial</a></p>

<blockquote>
<p>Pour les moins anglophones, le <strong>layout</strong> est l&rsquo;agencement des pages. <br> En gros c&rsquo;est le squelette HTML de vos pages que vous allez demander à Hugo de remplir avec le Markdown de vos articles.</p>
</blockquote>

<p>On va commencer par le minimum absolu.</p>

<p>Dans layouts/index.html :</p>

<pre><code>&lt;html&gt;
  &lt;body&gt;
    Yoplaboum !
  &lt;/body&gt;
&lt;/html&gt;
</code></pre>

<p>Maintenant on régénère via la commande hugo et on voit qu&rsquo;on a désormais <strong>public/index.html</strong> qui existe. <br>
Et comme par hasard il contient exactement la même chose que définie dans le <strong>layouts/index.html</strong></p>
<div class="edit-meta">
Last updated on 16 Jul 2019


<br>
Published on 16 Jul 2019
<br></div><nav class="pagination">
</nav><footer><p class="powered">Powered by <a href="https://gohugo.io">Hugo</a>. Theme by <a href="https://themes.gohugo.io/hugo-theme-techdoc/">TechDoc</a>. Designed by <a href="https://github.com/thingsym/hugo-theme-techdoc">Thingsym</a>.</p>
</footer>
</main><div class="sidebar">
<nav>
<ul>
<li class=""><a href="https://example.com">Home</a></li>
</ul>
</nav>

<nav>
  <ul>
  <li><a href="http://localhost:1313/premier_pas">Hugo</a></li>
  </ul>
</nav>






<div class="sidebar-footer"></div>
</div>
</div><a href="#" id="backtothetop-fixed" class="backtothetop"
 data-backtothetop-duration="600"
 data-backtothetop-easing="easeOutQuart"
 data-backtothetop-fixed-fadeIn="1000"
 data-backtothetop-fixed-fadeOut="1000"
 data-backtothetop-fixed-bottom="10"
 data-backtothetop-fixed-right="20">
<span class="fa-layers fa-fw">
<i class="fas fa-circle"></i>
<i class="fas fa-arrow-circle-up"></i>
</span></a>
</div>
</body>
</html>
